# Rust
backend/target/
backend/Cargo.lock
**/*.rs.bk

# Docker
*.log

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp
*.swo


# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env
videos/*.mp4
*.mp4
